header {
  background-color: #2d303a;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
.hidden {
  margin-top: 90px;
}

@media (max-width: 730px) {
  .hidden {
    margin-top: 70px;
  }
}

.wrapper-navigation {
  max-width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
}
.wrapper-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  position: relative;
}
@media (max-width: 730px) {
  .wrapper-flex {
    justify-content: center;
    height: 70px;
  }
  .wrapper-flex:after {
    content: "";
    height: 100%;
    width: calc(100vw - 280px);
    top: 0;
    right: 0;
    /* background-color: red; */
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
  }
  .menu-opened .wrapper-flex:after {
    z-index: 3;
    transform: translateX(0);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
.navigation {
  display: flex;
}
.menu-opened .menu-open-button {
  transform: translate(50%, -50%) rotate(90deg);
  transform-origin: center;
  -webkit-transform: translate(50%, -50%) rotate(90deg);
  -moz-transform: translate(50%, -50%) rotate(90deg);
  -ms-transform: translate(50%, -50%) rotate(90deg);
  -o-transform: translate(50%, -50%) rotate(90deg);
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}
.menu-open-button {
  cursor: pointer;
  outline: none;
  padding: 0px;
  width: 25px;
  height: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  display: none;
}

@media (max-width: 730px) {
  .menu-open-button {
    display: block;
    z-index: 5;
  }
}

.menu-open-button .button-line {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: #fff;
}

.menu-open-button .button-line + .button-line {
  margin-top: 5px;
}

@media (max-width: 730px) {
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    transition: left 0.3s, transform 0.3s;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: left 0.3s, transform 0.3s;
    -moz-transition: left 0.3s, transform 0.3s;
    -ms-transition: left 0.3s, transform 0.3s;
    -o-transition: left 0.3s, transform 0.3s;
  }
  .menu-opened .logo {
    left: 70px;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
  }
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 730px) {
  .logo {
    font-size: 20px;
  }
}

.logo .logo-accent {
  color: var(--pink-color);
}

@media (max-width: 730px) {
  .navigation {
    position: fixed;
    width: 280px;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    z-index: 4;
    display: flex;
    align-items: center;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: transform 0.3s box-shadow 0.3s;
    -webkit-transition: transform 0.3s box-shadow 0.3s;
    -moz-transition: transform 0.3s box-shadow 0.3s;
    -ms-transition: transform 0.3s box-shadow 0.3s;
    -o-transition: transform 0.3s box-shadow 0.3s;
  }

  .menu-opened .navigation {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    box-shadow: 5px 0px 20px 2px rgba(0, 0, 0, 0.6);
  }
}

.navigation-list {
  display: flex;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 730px) {
  .navigation-list {
    flex-direction: column;
    margin-left: 70px;
  }
}

.navigation-list-item + .navigation-list-item {
  margin-left: 36px;
  position: relative;
}

@media (max-width: 730px) {
  .navigation-list-item + .navigation-list-item {
    margin-left: 0px;
    margin-top: 25px;
  }
}

.navigation-list-item + .navigation-list-item:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -19px;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 730px) {
  .navigation-list-item + .navigation-list-item:after {
    background-color: transparent;
  }
}
.navigation-list-link {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 730px) {
  .navigation-list-link {
    font-size: 24px;
  }
}

.navigation-list-link:hover {
  text-decoration: none;
  color: var(--pink-color);
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}
.navigation-list-link-active {
  
  color: var(--pink-color);
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

/*         \/\/\/           Nav menu        \/\/\/            
.header {
  width: 100%;
  height: 100%;
  max-height: 90px;
  background-color: var(--bg-color);
}
.header-wrapper {
  margin: 0 auto;
  max-width: 1020px;
  padding: 19px 39px 15px 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-level-5-grid-in-grid {
  display: flex;
  flex-direction: row;
}

.nav-level-5-grid-in-grid > li > a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  letter-spacing: -0.035em;
  color: #fff;
}

.singolo {
  padding-bottom: 10px;
  float: right;
  align-items: center;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: var(--white-color);
}
.singolo::after {
  content: "∗";
  vertical-align: super;
  color: #f06c64;
}
.nav-before-text {
  margin-right: 10px;
}
.nav-before-text > a:hover {
  place-content: end;
  color: #f06c64;
}
.nav-before-text + .nav-before-text:before {
  content: "·";
  padding-right: 10px;
  color: #fff;
}

.nav-button {
  outline: none;
  border: 0px;
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: none;
  visibility: hidden;
}
.nav-button-rotate {
  transform-origin: center;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.black-fixed-menu-visible {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 278px;
  height: 100vh;
  left: 0px;
  top: 0px;
  align-items: flex-start;
  padding-top: 19px;
  padding-left: 35px;
  z-index: 9999999999;
  background: #2d303a;
  box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
}
.black-fixed-logo-visible {
  width: 278px;
}
.black-fixed-nav-visible {
  position: fixed;
  top: 232px;
  left: 71px;
  z-index: 9999999999;
}
.black-fixed-menu-nav-button {
  outline: none;
  border: none;
  background: transparent;
  transform-origin: center;
  transform: translateX(-10px) rotate(90deg);
  -webkit-transform: translateX(-5px) rotate(90deg);
  -moz-transform: translateX(-5px) rotate(90deg);
  -ms-transform: translateX(-5px) rotate(90deg);
  -o-transform: translateX(-5px) rotate(90deg);
}

.black-fixed-nav-visible-link {
  display: flex;
  margin-bottom: 27px;
  margin-left: 10px;
  flex-direction: column;
}
.header-wrapper-71px {
  height: 71px;
}
.black-out {
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #2d303a;
  opacity: 0.6;
  z-index: 999999999;
}
.nav-before-text-hidden + .nav-before-text-hidden:before {
  content: none;
}

.nav-before-text {
  font-family: Lato;
  font-style: normal;

  line-height: 29px;
  letter-spacing: -0.035em;
  color: #fff;
  margin-bottom: 0px 27px;
}
.singolo2 {
  position: absolute;
  width: 92px;
  height: 24px;
  left: 83px;
  top: 14px;
  font-size: 19.6875px;
   letter-spacing: -0.03em;
  color: #ffffff;
}
.nav-before-text-hidden {
  font-family: Lato;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.035em;
  margin-bottom: 27px;
  text-decoration: none;
}
.nav-before-text-hidden > a:hover {
  color: #f06c64;
}

.nav-before-text-hidden > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.blue {
  background-color: #648bf0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition-timing-function: ease-in-out;
}
.singolo2 {
  position: absolute;
  width: 92px;
  height: 24px;
  left: 83px;
  top: 14px;
  font-size: 19.6875px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.singolo2::after {
  content: "∗";
  vertical-align: super;
  color: #f06c64;
}*/
/*slideshow*/
.slideshow {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 980px;
  height: 594px;
  overflow: hidden;
  visibility: hidden;
}
.jssorl-009-spin {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.slideshow-loading {
  margin-top: -19px;
  position: relative;
  top: 50%;
  width: 38px;
  height: 38px;
}
.slideshow-slides {
  cursor: default;
  position: relative;
  top: 0px;
  left: 0px;
  width: 980px;
  height: 594px;
  overflow: hidden;
}
.jssora106 {
  width: 55px;
  height: 55px;
  top: 250px;
}

