:root {
  --header-color: #666d89;
  --text-color: #767e9e;
}
:root {
  --header-color: #666d89;
  --text-color: #767e9e;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
}

.section {
  padding: 60px 0px 20px;
}

.section--background_light {
  background-color: #f2f2f2;
}

.section--background_dark {
  background-color: #2d303a;
}

.section__header {
  font-weight: 900;
  font-size: 30px;
  color: var(--header-color);
  margin: 0;
}

.section__text {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.5;
  margin: 20px 0 0 0;
}

.section-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 60px;
}

.section-list__item {
  display: flex;
  max-width: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.section-list__item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid #666d89;
  border-radius: 50%;
  flex-shrink: 0;
}

.section-list__item-image img {
  max-width: 32px;
  max-height: 32px;
}

.section-list__description {
  margin-left: 20px;
}

.section-list__item-header {
  margin: 0;
  color: var(--header-color);
  font-size: 18px;
}

.section-list__item-text {
  margin: 10px 0 0 0;
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.8;
  text-align: justify;
}

body {
  margin: 0px;
  font-family: Lato;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

sup {
  color: #f06c64;
}
.hiddenList {
  position: fixed;
  width: 100vw;
  height: 500vw;
  z-index: 9998;
  visibility: hidden;
  display: none;
  background: #2d303a;
  opacity: 0.6;
}
.fixednav {
  background-color: #2d303a;
}
.menuButton {
  visibility: hidden;
  display: none;
}

.navwrap {
  padding: 39px 40px 36px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: start;
  z-index: 9999;
  max-width: 1020px;
}

.leftnav {
  line-height: 60px;
  flex: 10;
}

.leftnav > a {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #ffffff;
  text-decoration: none;
}

hr {
  height: 7.6px;
  margin: 0;
  padding: 0;
  border: 0px;
  background: #323746;
}

header > hr {
  height: 6px;
  background: #323746;
}

.slider > hr {
  height: 4.52px;
  background: #ea676b;
}

.rightnav {
  line-height: 60px;
  padding: 0px 5px;
}

.rightnav > a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  letter-spacing: -0.035em;
  color: #fff;
}

.beforeText:before {
  content: "·";
  padding-right: 10px;
  color: #fff;
}

.rightnav > a:hover {
  color: #f06c64;
}

h1 {
  visibility: hidden;
  margin: 0;
  width: 0;
  height: 0;
}

.slider {
  text-align: center;
  color: white;
  background-color: #f06c64;
}

.slider > img {
  width: 100%;
}

.arrows {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*.Our_Services {
  background-color: #f2f2f2;
  padding: 60px 0px 46px 0px;
  height: auto;
}*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2d303a;
  padding: 30px 29px 40px 40px;
}

.copy {
  color: #666d89;
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.Portfolio {
  background: #2d303a;
  padding: 20px;
}

.linkstyle {
  display: block;
  float: left;
}

.navPortfolio {
  padding-top: 10px;
  padding-bottom: 10px;
}

.textPorfolio {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
}

.linkStyle > a {
  padding: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  text-align: center;
  color: #767e9e;
  text-decoration: none;
  border: 1px solid #767e9e;
  box-sizing: border-box;
  border-radius: 5px;
}

.titlePortfolio {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  /* section-headers */
  color: #666d89;
}

.ImgPortfolio {
  columns: 4;
  column-gap: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  width: auto;
  height: auto;
}

.ImgPortfolio > div {
  width: auto;
  height: auto;
}

.ImgPortfolio > div > img {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.facebook,
.google,
.twitter,
.linkedin {
  float: left;
  border-radius: 25px;
  width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--header-color);
  margin: 0px 8px 0px 0px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* 768px <= width < 1020px */
@media (min-width: 1200px) {
  .fixednav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

/* 768px <= width < 1020px */
@media (max-width: 1020px) {
  .ImgPortfolio {
    display: grid;
    width: 90%;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    columns: 3;
  }
}

/* 375px <= width < 768px */

@media (max-width: 768px) {
  .ImgPortfolio {
    display: grid;
    width: 90%;
    grid-template-columns: calc(100% / 2) calc(100% / 2);
    columns: 2;
  }

}

@media (max-width: 666px) {
  .hiddenList {
    display: block;
    visibility: visible;
  }

  .menuButton {
    display: block;
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 19.6875px;
    line-height: 24px;
    background: #2d303a;
    display: block;
    opacity: 0.6;
    visibility: visible;
    font-size: 50px;
    color: fff;
  }
  .rightnav {
    padding-left: 25px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
  }
  .beforeText {
    visibility: visible;
    display: none;
  }
  .navwrap {
    display: block;
    position: fixed;
    background: #2d303a;
    width: 278px;
    height: 400vw;
    padding: 39px 0px 36px 20px;
    justify-content: flex-end;
    flex-direction: column;
  }
}
/* width < 375px */

@media (max-width: 375px) {
  .ImgPortfolio {
    column-gap: 0px;
    grid-template-columns: calc(100% / 1);
    columns: 1;
  }

  .copy {
    display: none;
  }
}
